# Profile of player 1

name=Player 2

# Keyboard bindings, move: keyboard arrows, place bomb: SPACE
key:4=8
key:32=5
key:80=6
key:84=9
key:257=7
key:262=3
key:263=1
key:264=4
key:265=2

# Gamepad bindings
gamepad:1=2
gamepad:2=3
gamepad:3=4
gamepad:4=1
gamepad:6=8
gamepad:7=7
gamepad:13=6
gamepad:14=6
gamepad:15=6
gamepad:0:1=1
gamepad:0:2=3
gamepad:1:1=4
gamepad:1:2=2
