# IDEs
.vscode
.idea
*.sln

# Build Data
*.o
/build
/doc/build/html
*.gcno
*.gcda

# Executable
/bomberman
/bomberman.exe
/bomberman.html
/bomberman.js

# Logs
log.txt
log_raylib.txt

# Game settings
settings

# Shame on you!
vgcore.*
